
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pagina experimental</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-title class="ion-padding-top ion-text-center">
<ion-label>

      <p>Esta es una APP experimental en progreso</p>
    </ion-label>
</ion-title>
<ion-card-content>

<ion-button [routerLink]="['/contenido']">--Video juegos--</ion-button>

</ion-card-content>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      App experimental
    </ion-title>

  </ion-toolbar>
</ion-footer>
