<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pagina de video juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content>
<ion-label position="floating">Puedes regustrarte para obetner mas beneficios     </ion-label>
  <ion-button [routerLink]="['/login']">--Inicia sesion para ver mas--</ion-button>
</ion-card-content>
<ion-label position="floating">
  <h2>Lista de video juegos interesantes</h2>
  <p>Los mejores del mercado de Play Station</p>
</ion-label>

<ion-list>

<ion-item>
<ion-label position="floating">Final fantasy 7 remake</ion-label> </ion-item>
<ion-item>
<ion-card>El mejor remake de la epoca de PS4</ion-card>
</ion-item>

<ion-item>
<ion-label position="floating">Resident evil 3 remake</ion-label> </ion-item>
<ion-item>
<ion-card>Uno de los juegos de horror mas epicos de todos los tiempos</ion-card>
</ion-item>

<ion-item>
<ion-label position="floating">Hoizont</ion-label> </ion-item>
<ion-item>
<ion-card>Un juego en un mundo abiero lleno de pociblidades y cosas por descubrir</ion-card>
</ion-item>

<ion-item>
<ion-label position="floating">The last of us</ion-label> </ion-item>
<ion-item>
<ion-card>Un juego de terror y suspenso con una jugabilidad y realismo muy elevado</ion-card>
</ion-item>

<ion-item>
<ion-label position="floating">God of war</ion-label> </ion-item>
<ion-item>
<ion-card>Un juego de accion nunca nates superado exclusivo del PS4, la ultima version hasta ahora</ion-card>
</ion-item>


</ion-list>

<ion-button [routerLink]="['/inicio']">--Volver--</ion-button>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Lista de juegos
    </ion-title>

  </ion-toolbar>
</ion-footer>
